<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="15 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework" level="info"/>
    <logger name="org.springframework.amqp" level="info"/>
    <logger name="xin.iffun" level="DEBUG"/>
    <logger name="mapper" level="DEBUG"/>
    <root level="INFO"/>
</configuration>