<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:include="common :: header" th:with="title='供应商在线投标平台'">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<script type="text/javascript" th:src="@{/js/ntko/ntkoofficecontrol.js}"></script>
<script type="text/javascript" th:src="@{/js/ntko/show_preview.js}"></script>
<script type="text/javascript">
    $(function () {
        intializePage();
    })
</script>
<body>
<div style="width: 0px;height: 0px;">
    <!--封装数据表单-->
    <form id="dataForm">
        <!--附件名称-->
        <input type="hidden" name="attachName" id="fileName" th:value="${attachment.name}"/>
        <input type="hidden" name="fileType" id="fileType" th:value="${attachment.fileType}"/>
        <!--附件路径-->
        <input type="hidden" name="attachFile" id="filePath" th:value="${attachment.path}"/>
        <!--临时附件路径-->
        <input type="hidden" name="attachFile" id="tmpFilePath" th:value="${tmpFilePath}"/>
        <input type="hidden" name="packageName" id="packageName" th:value="${packageName}"/>
    </form>
</div>
</body>
</html>