<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="detail/nav">
<body>
<div th:fragment="content" th:remove="tag">
    <script th:src="@{/js/openbid/open_bid_list.js}"></script>
    <script th:src="@{/js/openbid/common.js}"></script>
    <!--开标一览表-->
    <div class="container">
        <div class="headline-v2">
            <h2>开标一览表</h2>
        </div>
        <div class="content table_box">
            <h2 class="count_flow"><i>1</i>基本信息</h2>
            <table class="table table-bordered mt10">
                <tbody>
                <tr>
                    <td class="info div-center">投标人全称:</td>
                    <td class="p0"><span th:text="${project.suppliername}"></span></td>
                    <td class="bggrey div-center">项目名称:</td>
                    <td class="p0"><span th:text="${project.name}"></span></td>
                </tr>
                <tr>
                    <td class="info div-center">项目编号:</td>
                    <td class="p0"><span th:text="${project.projectNumber}"></span></td>
                    <td class="bggrey div-center">金额单位:</td>
                    <td class="p0">元</td>
                </tr>
                </tbody>
            </table>
            <h2 class="count_flow"><i>2</i>项目明细</h2>
            <span class="f14 red">表格说明：金额=单价×数量，投标总价=金额之和。</span>
            <form id="myForm" class="mb0">
                <!--设置第二步-->
                <input th:name="project.id" th:type="hidden" th:value="${project.id}"/>
                <input th:name="project.navNo" th:id="navNo" th:type="hidden" th:value="${project.navNo}"/>
                <input th:name="flag" th:id="flag" th:type="hidden"/>
                <input th:type="hidden" id="packNo" th:value="${listByProjectId.size() - 1}"/>
                <div th:each="pack : ${listByProjectId}">
                    <div class="count_flow shrink hand" th:onclick="${'showDiv(this,' + packStat.index + ')'}">
                        <span class="f16 b">包名：</span>
                        <span class="f14 blue" th:text="${pack.name}"></span>
                    </div>
                    <div th:class="${'p0' + packStat.index + ' hide'}">
                        <table class="table table-bordered left_table">
                            <thead>
                            <tr>
                                <th class="info w50">序号</th>
                                <th class="info">产品名称</th>
                                <th class="info"><span class="red">*</span>货物名称</th>
                                <th class="info"><span class="red">*</span>品牌</th>
                                <th class="info"><span class="red">*</span>规格型号</th>
                                <th class="info">计量单位</th>
                                <th class="info">数量</th>
                                <th class="info"><span class="red">*</span>单价（元）</th>
                                <th class="info">金额（元）</th>
                                <th class="info"><span class="red">*</span>交货时间</th>
                                <th class="info">备注</th>
                            </tr>
                            </thead>
                            <tbody th:attr="data-package=${pack.name}" th:id="${'bidtable' + packStat.index}">
                            <tr th:each="detail : ${pack.projectDetails}">
                                <input th:type="hidden"
                                       th:name="${'details['+ pack.id +'].list[' + detailStat.index + '].id'}"
                                       th:value="${detail.id}"/>
                                <td class="info div-center" th:text="${detailStat.index + 1}"></td>
                                <td class="p0"><input th:type="text" class="mb0 border0" th:readonly="readonly"
                                                      th:title="${detail.goodsName}"
                                                      th:value="${detail.goodsName}"/></td>
                                <td><input th:type="text" class="mb0 border0"
                                           th:name="${'details['+ pack.id +'].list[' + detailStat.index + '].pname'}"
                                           th:value="${detail.pname}"/></td>
                                <td class="p0"><input
                                        th:name="${'details['+ pack.id +'].list[' + detailStat.index + '].brand'}"
                                        th:type="text"
                                        class="mb0 border0"
                                        th:value="${detail.brand}"/>
                                </td>
                                <td class="p0"><input th:type="text" class="mb0 border0" th:title="${detail.sizeNo}"
                                                      th:name="${'details['+ pack.id +'].list[' + detailStat.index + '].sizeNo'}"
                                                      th:value="${detail.sizeNo}"/></td>
                                <td class="p0"><input th:type="text" class="mb0 border0" th:readonly="readonly"
                                                      th:value="${detail.item}"/></td>
                                <td class="p0"><input th:type="text" class="mb0 border0"
                                                      th:name="${'details['+ pack.id +'].list[' + detailStat.index + '].purchaseCount'}"
                                                      th:value="${detail.purchaseCount}"
                                                      th:readonly="readonly"/></td>
                                <td class="p0"><input th:type="text" class="mb0 border0"
                                                      th:name="${'details['+ pack.id +'].list[' + detailStat.index + '].unitPrice'}"
                                                      th:value="${detail.unitPrice == null}? '': ${#numbers.formatDecimal(detail.unitPrice, 1, 2)}"
                                                      th:onkeyup="${'caculate(this,' + packStat.index + ')'}"/>
                                </td>
                                <td class="p0"><input th:type="text" class="mb0 border0"
                                                      th:name="${'details['+ pack.id +'].list[' + detailStat.index + '].totalPrice'}"
                                                      th:title="${detail.totalPrice == null}? '': ${#numbers.formatDecimal(detail.totalPrice, 1, 2)}"
                                                      readonly="readonly"
                                                      th:value="${detail.totalPrice == null}? '': ${#numbers.formatDecimal(detail.totalPrice, 1, 2)}"/></td>
                                <td class="p0"><input th:type="text" class="mb0 border0"
                                                      th:name="${'details['+ pack.id +'].list[' + detailStat.index + '].endAt'}"
                                                      th:title="${detail.endAt}"
                                                      th:value="${detail.endAt}"/>
                                </td>
                                <td class="p0"><input th:type="text" class="mb0 border0"
                                                      th:name="${'details['+ pack.id +'].list[' + detailStat.index + '].remarks'}"
                                                      th:value="${detail.remarks}" th:title="${detail.remarks}"/></td>

                            </tr>
                            <tr>
                                <td colspan="11">
                                    投标总价（人民币大写）：
                                    <span th:id="${'bidPriceUpper' + packStat.index}" th:text="${pack.bidPriceUpper}"></span>
                                    &nbsp;&nbsp;&nbsp;（小写）¥：<span th:id="${'bidPriceLower' + packStat.index}" th:text="${pack.bidPrice == null}? '': ${#numbers.formatDecimal(pack.bidPrice, 1, 2)}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 clear tc mt10">
                    <button class="btn mb20" type="button" id="backHome">返回主页</button>
                    <button class="btn mb20" type="button" id="isTemporary">暂存</button>
                    <button class="btn mb20" type="button" id="nextStep">下一步</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>