<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="detail/nav">
<body onload="intializePage()">
<div th:fragment="content">
    <!--封装数据表单-->
    <div class="container">
        <div class="headline-v2">
            <h2>编制标书</h2>
        </div>
        <form id="MyFile" method="post" class="mb0">
            <!--设置第二步-->
            <input th:type="hidden" th:id="filePath" th:value="${attachment.path}"/>
            <input th:type="hidden" th:id="fileName" th:value="${attachment.name}"/>
            <input th:type="hidden" th:id="fileType" th:value="${attachment.fileType}"/>
            <input th:type="hidden" th:id="makePricePath" th:value="${makePricePath}"/>
            <input th:id="projectId" th:name="projectId" th:type="hidden" th:value="${project.id}"/>
            <input th:id="suppliername"  th:type="hidden" th:value="${project.suppliername}"/>
            <input th:id="projectNumber"  th:type="hidden" th:value="${project.projectNumber}"/>
            <input th:name="id" th:type="hidden" th:value="${project.id}"/>
            <input th:name="navNo" th:id="navNo" th:type="hidden" th:value="${project.navNo}"/>
            <input th:name="flag" th:id="flag" th:type="hidden"/>
        </form>
        <script type="text/javascript" th:src="@{/js/openbid/price_make_tender.js}"></script>
        <script type="text/javascript" th:src="@{/js/ntko/ntkoofficecontrol.js}"></script>
        <script type="text/javascript" th:src="@{/js/ntko/OfficeContorlFunctions.js}"></script>
        <script type="text/javascript" th:src="@{/js/ntko/ntkocommon.js}"></script>
        <div class="col-md-12 clear tc mt10">
            <button class="btn" type="button" id="lastStep">上一步</button>
            <button class="btn" type="button" id="isTemporary">暂存</button>
            <button class="btn" type="button" id="nextStep">下一步</button>
        </div>
    </div>
</div>
</body>
</html>